.dropdown-btn {
    position: relative;
    padding: 0px 38px 0px 18px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    border: 1px solid #EFF2F4;
    border-radius: 22px;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        background-image: url('./../img/top-icons/arrow-down.svg');
        width: 12px;
        height: 7px;
    }
}